body {
  font-family: Arial, Helvetica, sans-serif;
}

td , th{
  border-bottom: 1px dotted black;
  border-left: 1px dotted black;
  text-align: center;
}

.grayed {
  background-color: lightgray;
}

.header {
  display: flex;
  border: 1px solid black;
  background-color: lightgray;
  padding: 1rem;
}

.selector {
  flex-direction: column;
  margin-right: 1rem;
}

#tableSelect{
  min-width: 6rem;
}
